body {
    background-color: grey;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
    border-style: solid;
    display: block;
}
* {
    font-family: sans-serif;
}

a {
    font-style: normal;
    text-decoration: none;
    color: rgb(214, 214, 214);
}

ul, ol{
    list-style-type: none;
    text-align: center;
    margin: auto auto;
    padding: 0px;
    margin: 0px 0px;
}

ol {
    list-style: inside;
    list-style-type: decimal;
}

li {
    margin: 10px 150px;
    padding: 5px;
}


.recipePage p {
    padding: 0px 10px;
}

.recipePage img{
    display: block;
    height: auto;
    max-width: 100%;
    width: 700px;
    margin: 0px auto;
}

#mainbg {
    margin-top: 50%;
    margin-bottom: 50%;
}

body>ul,
body>ol {
    padding: 0px 10px;
    border-style: solid;
    border-radius: 10px;
    margin: 5%;
}

.recipePage li{
    border: none;
    margin: 0px;
    /* border: 1px solid white; */
    text-align: left;
}

.recipePage li ul {
    /* border: 1px solid green; */
    padding-left: 2%;
}

ul>li>ul>li{
    list-style-type: disc;
}